.search {
  border-bottom: #424242 1px solid;
}

.search__form {
  background-color: #222;
  padding: 19px 0;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.search__field {
  display: flex;
  flex-basis: 797px;
  max-width: 797px;
}

.search__label {
  position: relative;
  border-left: #505050 1px solid;
  margin-left: 19px;
  padding: 10px 0;
  min-width: 227px;
}

.search__checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 16px;
  margin-left: 29px;
  background-color: #202020;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;
}

.search__pseudo-check {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 12px;
  left: 32px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #A0A0A0;
  z-index: 1;
  cursor: pointer;
}

.search__checkbox:checked + .search__pseudo-check {
  left: 46px;
  background-color: #3DDC84;
}

.search__button {
  min-width: 34px;
  height: 34px;
  background-color: #4285F4;
  border-radius: 48px;
  padding: 0;
  border: none;
  outline: none;
  padding-left: 11px;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

.search__button-icon {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: #FFF 2px solid;
  border-right: #FFF 2px solid;
}

.form__label-text {
  font-size: 13px;
  line-height: 1.38;
  color: #FFF;
  margin: 0 30px 0 14px;
}

.search__input {
  background-color: #222;
  outline: none;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  flex-basis: 797px;
  max-width: 797px;
}

.search__icon {
  width: 34px;
  height: 34px;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px 0 19px;
}

@media screen and (max-width: 800px) {
  .search__icon {
    margin: 0 20px 0 28px;
  }

  .search__label {
    min-width: 207px;
  }

  .search__pseudo-check {
    left: 23px;
  }
  .search__pseudo-checkbox {
    margin-left: 19px;
  }

  .search__checkbox:checked + .search__pseudo-check {
    left: 37px;
  }

  .form__label-text {
    margin: 0 8px 0 10px;
  }
}

@media screen and (max-width: 640px) {
  .search__form {
    flex-direction: column;
    background: none;
    border-radius: 0;
  }

  .search__field {
    background-color: #222;
    border-radius: 9px;
    padding: 19px;
    flex-basis: 40px;
    margin-bottom: 32px;
  }

  .search__icon {
    display: none;
  }

  .search__label {
    border-left: none;
    margin-left: 0;
    padding: 10px 0;
    min-width: 227px;
  }
}

@media screen and (max-width: 400px) {
  .search__input {
    font-size: 14px;
    line-height: 1.43;
    min-width: 227px;
  }

  .form__label-text {
    font-size: 11px;
    line-height: 1.64;
    margin: 0 8px 0 10px;
  }

  .search__pseudo-check {
    left: 44px;
  }
  .search__pseudo-checkbox {
    margin-left: 37px;
  }

  .search__checkbox:checked + .search__pseudo-check {
    left: 58px;
  }
}