.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tab__link {
  padding: 10px 0;
  margin-right: 10px;
  border-radius: 10px;
  min-width: 96px;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
  background-color: #303030;
  text-align: center;
}

.nav-tab__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 400px) {
  .nav-tab__link {
    padding: 5px 0;
    margin-right: 6px;
    border-radius: 6px;
    min-width: 82px;
    font-size: 10px;
    line-height: 1.6;
  }
}